<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Blacklist - Shoppinglistan</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content" id="site-wrapper">
        <div id="site-canvas">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#" class="toggle-nav"><span class="glyphicon glyphicon-th-list"></span> Meny</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            @*<div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                                <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>*@

            <div id="site-menu">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-brand">
                        <li>
                            <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne"
                               aria-expanded="false" aria-controls="collapseOne">Sponsrade meddelanden</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo"
                               aria-expanded="false" aria-controls="collapseTwo">Skapa lista</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree"
                               aria-expanded="false" aria-controls="collapseThree">Bjud in till blacklist</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour"
                               aria-expanded="false" aria-controls="collapseFour">Chatt</a>
                        </li>
                        <li id="MyLists">
                            <a href="#" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive"
                               aria-expanded="false" aria-controls="collapseFour">Mina Listor</a>
                        </li>
                    </ul>

                </div>
            </div>

            @RenderBody()
            @RenderSection("SPAViews", required: false)
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Blacklist - Shoppinglist app</p>
            </footer>
        </div>
    </div>

   
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/Scripts/md5.js"></script>
    <script type="text/javascript" src="~/Scripts/ChatAll.js"></script>
</body>
</html>
