@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.1.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/signalr/hubs")
   

}






<div id="UserListz" class="col-md-4" style="overflow:auto; margin-top:30px;"></div>
<button class='submitFriendMailToControllen' ; style="margin-top:30px;">Lägg Till Vän</button>
@*<div onclick="location.href='#';" style="cursor: pointer;">*@

@ViewBag.Message


    <script>
        

     var valueFromDropDown;
  

           $('#cList').change(function () {
                valueFromDropDown = $(this).val();
                //console.log(valueFromDropDown + "hej");
            });
           
            //    console.log("test");
         


        //   $('.col-md-6').click(function (e) {
        //       e.preventDefault();
        //      var fft= $('#cList').val();
  
        //      console.log(fft);


        //});


           $('.submitFriendMailToControllen').click(function () {
               var userName = $('#cList').val();
              // console.log(fft + "submitFriendMailToControllen");
           
            //$.ajax({
            //    url: '/Home/addNewFriend',
            //    type: 'POST',
            //    dataType: 'json',
            //    cache: false,
            //    data: JSON.stringify(userName) ,
              

            //});
              
               $.ajax({
                   url: '/Home/addNewFriend',
                   type: "POST",
                   contentType: "application/x-www-form-urlencoded",
                   success: function (userName) { alert(userName); },
                   data: { userName }
               });
     
        });
       
       
</script>

